__pycache__/
*.pyc
.venv/
venv/
.env
.env.local
*.sqlite
*.db
.DS_Store
.idea/
.vscode/
airflow/logs/
airflow/airflow.db
airflow/airflow.cfg
airflow/webserver_config.py
data/
dist/
build/
*.egg-info/
